@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$white-color: #f5f5f5;
$primary-color: #202024;
$secondary-color: #8b8b8d;
$full-background-color: #111114;

* {
  font-family: "Poppins", sans-serif;
}

.flex {
  display: flex;
}

.left {
  justify-content: start;
  align-items: center;
}

.container-row {
  max-width: 510px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.master-border {
  margin-top: 15vh;
  margin-bottom: 50px;
}

.centralize {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-device-width: 640px) {
  .master-border {
    margin-top: 5vh;
    margin-bottom: 50px;
  }
}

@media only screen and (max-device-width: 419px) {
  .spotify-button {
    width: 240px !important;
  }
}
